body
  {background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;}
header {
  height: 60px;
}
h1
  {font-size: 4em;
  font-weight: bold;
  color: darkslategray;
  font-family: 'Archivo Black';}
 
.form
  {height: 35%;
  border: 5px solid gray;
  border-radius: 20%;
  margin-top: 1em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  display: flex;
  padding: 45px;}

.inputcontainer
  {display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;}
  
input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;}
  
select
    {display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 204px;}
button
  {justify-content: center;
  align-items: center;
  margin: 2em;}
 label {
  margin-left: 5px;
  margin-top: 5px;
 }
.parentDiv {
  display: flex;
}
.childDiv {
  /* flex: 1; */
  margin: 10px;
}
.submit {
  margin-top: 20px;
}